//colors
$colorAccent: #ebbc44;
$colorBlack: #000000;
$colorWhite: #ffffff;
$colorMain: #1f2d28;

//fonts settings
$fontFamilyMain: "Inter", sans-serif; // !указать здесь основное семейство шрифта
$fontWeightMain: 400; // Жирность шрифта по умолчанию
$fontColorMain: $colorBlack; // Цвет шрифта по умолчанию
$fontSizeMain: 16; // Размер шрифта по умолчанию


$transitionMain: all 280ms ease-in-out 0ms;

//media screen
$ul: 1921px;
$xl: 1500px;
$lg: 1100px;
$md: 850px;
$sm: 621px;
$xs: 480px;
$xx: 420px;
$ux: 321px;